.calculator {
  position: relative;
  margin: 0 auto;
  padding-top: 10px;
  width: 330px;
  height: 410px;
  top: 150px;
  border-radius: 5px;
  background: #000000;
  text-align: center;
}

.screen {
  position: relative;
  margin: 0 auto 10px;
  padding-top: 5px;
  width: 310px;
  height: 145px;
  border-radius: 5px;
  text-align: right;
  background: #f0f0f0;
}

.calculation-screen {
  position: relative;
  margin: 0 auto 4px;
  padding-right: 10px;
  border-bottom: 1px solid;
  width: 290px;
  height: 35px;
  font-size: 25px;
}

.result-screen {
  position: relative;
  margin: 0 auto 4px;
  padding: 2px 10px 0 0;
  width: 290px;
  height: 58px;
  font-size: 40px;
}

.clear-entry {
  position: relative;
  width: 55px;
  height: 36px;
  left: -5px;
}

.clear-entry img {
  position: relative;
  width: 48px;
  height: 34px;
  left: -4px;
  border-radius: 5px;
}

.clear-entry:hover {
  background: rgba(0, 0, 0, 0.05);
}

.clear-entry:active {
  background: rgba(0, 0, 0, 0.1);
}

button {
  margin: 2px 0;
  width: 73px;
  height: 45px;
  font-size: 25px;
  border: none;
  border-radius: 15px;
  background: #ffffff;
  outline: none;
  transition: 0.3s;
}

button:hover {
  background: rgba(255, 255, 255, 0.85);
}

button:active {
  background: rgba(255, 255, 255, 0.7);
}

.number-box {
  display: inline-block;
  width: 232px;
}

.button-box div:last-child {
  display: inline-block;
  position: relative;
  width: 73px;
  left: -1px;
}

.combine-column {
  width: 153px;
}